* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	max-width: 968px;
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	gap: 2rem;
	border: 1px solid var(--clr-grey-4);
	padding: 1rem;
}

section {
	width: 300px;
	border: 1px solid var((--clr-grey-4));
	padding: 1rem;
}

.btn {
	padding: 0.4rem 0.7rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;

	border-radius: var(--radius);
	-webkit-border-radius: var(--radius);
	-moz-border-radius: var(--radius);
	-ms-border-radius: var(--radius);
	-o-border-radius: var(--radius);
}

.btn-submit {
	margin-top: 0.5rem;
	background-color: var(--blue-main);
	color: #fff;
}

.btn-submit:hover {
	opacity: 0.9;
}

input,
select {
	padding: 0.4rem 0.7rem;
	padding-left: 0.3rem;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border: 1px solid var(--clr-grey-3);
	outline: none;
	font-weight: 500;
}

input::placeholder {
	font-weight: 500;
	color: var(--clr-black-4);
	opacity: 0.5;
	text-transform: capitalize;
}

input:hover {
	border: 1px solid var(--clr-grey-2);
}

input:focus {
	border-radius: var(--radius);
	border: 1px solid var(--clr-grey-1);
	-webkit-border-radius: var(--radius);
	-moz-border-radius: var(--radius);
	-ms-border-radius: var(--radius);
	-o-border-radius: var(--radius);
}

label {
	color: var(--clr-black-4);
	font-size: var(--font-small);
	font-weight: 500;
	text-transform: capitalize;
}

form {
	border: 1px solid var(--clr-grey-4);
	padding: 1.5rem 1rem;
	border: 1px solid var(--clr-grey-3);
	border-radius: var(--radius);
	-webkit-border-radius: var(--radius);
	-moz-border-radius: var(--radius);
	-ms-border-radius: var(--radius);
	-o-border-radius: var(--radius);
	box-shadow: var(--shadow);
}
